/* FIXME needs bug with hovers. Need to fix */
.list {
    background-color: #689473;
    color: #EBEBEB;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.listItem {
    display: inline;
    padding-left: 25%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 100%;
    transition: background-color 0.5s;
}

.listItem:hover {
    background-color: rgb(200, 200, 200);
}